node_modules/
!/.gitattributes
!/.projen/tasks.json
!/.projen/deps.json
!/.projen/files.json
!/pyproject.toml
!/setup.cfg
!/setup.py
*.env
*venv
*.venv
*pyc*
dist
build
*.whl
*egg-info
*venv*
*env*

**cdk.out
.vscode/settings.json

.mypy_cache/

aws_autoscaler.yaml
_aws_autoscaler.yaml
clearml.conf
_clearml_patch
cdk.context.json

src/cdk_clearml/resources/opt
src/cdk_clearml/resources/usr